# Day 2 Pandas Intro

In [3]:
import pandas as pd

## Method 1: Nested List

In [5]:
data = [['Logistic Lemongrass', 15],
        ['Jupyter Jasmine', 13],
        ['Allspice Arrays', 15]
       ]

df = pd.DataFrame(data, index=['A', 'B', 'C'], columns=['name', 'students'])
df

                  name  students
A  Logistic Lemongrass        15
B      Jupyter Jasmine        13
C      Allspice Arrays        15

## Method 2: Dictionary

In [8]:
data = {
    'name': ['Logistic Lemongrass', 'Jupyter Jasmine', 'Allspice Arrays'],
    'students': [15, 13, 15]
}

df = pd.DataFrame(data, index=['A', 'B', 'C'])
df

                  name  students
A  Logistic Lemongrass        15
B      Jupyter Jasmine        13
C      Allspice Arrays        15

* Every item of the dictionary becomes a column.

## Method 3: Numpy

In [11]:
import numpy as np

* Reshape: arguments are `reshape(number_of_indices, number_of_cols)`

In [15]:
a = np.arange(25).reshape(5, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [18]:
a = np.arange(25000).reshape(5000, 5) ## can make 5000 rows in 5 cols; can use 1- to say "as many as you need"
a

array([[    0,     1,     2,     3,     4],
       [    5,     6,     7,     8,     9],
       [   10,    11,    12,    13,    14],
       ...,
       [24985, 24986, 24987, 24988, 24989],
       [24990, 24991, 24992, 24993, 24994],
       [24995, 24996, 24997, 24998, 24999]])

In [21]:
pd.DataFrame(a, index=list('abcde'*1000),columns=list('ABCDE'))

        A      B      C      D      E
a       0      1      2      3      4
b       5      6      7      8      9
c      10     11     12     13     14
d      15     16     17     18     19
e      20     21     22     23     24
..    ...    ...    ...    ...    ...
a   24975  24976  24977  24978  24979
b   24980  24981  24982  24983  24984
c   24985  24986  24987  24988  24989
d   24990  24991  24992  24993  24994
e   24995  24996  24997  24998  24999

[5000 rows x 5 columns]

## Method 4: Reading in from file

In [ ]:
pd.read_csv()