In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set() 
sns.set_style("white")

In [2]:
df = pd.DataFrame({
    'date': ['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08'],
    'diet': ['apple', 'banana', 'cucumber', 'donut']
    })

ts = pd.to_datetime(df['date'])

In [3]:
ts

0   2011-01-02
1   2011-01-05
2   2011-01-07
3   2011-01-08
Name: date, dtype: datetime64[ns]

In [5]:
df

         date      diet
0  2011-01-02     apple
1  2011-01-05    banana
2  2011-01-07  cucumber
3  2011-01-08     donut

In [1]:
# Note
# When reading timestamp columns from a CSV file, the option parse_dates=True is a useful shortcut.