###### Imports

In [44]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

##### Replacing NULL values in shipdate with orderdate

In [45]:
df = pd.read_csv("northwind_data_clean-master\data\orders.csv")

for i in np.where(df["shippedDate"].isnull()):
    df["shippedDate"][i] = df["orderDate"][i]

df.to_csv("northwind_data_clean-master\data\orders.csv")

<ipython-input-45-bf5f69b35620>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["shippedDate"][i] = df["orderDate"][i]

##### Setting up connection with server

In [46]:
conns = 'postgres://postgres:postgres@localhost:5433/northwind'

In [47]:
varia = os.getenv('MY_PG_PASSWORD')
varia

In [54]:
db = create_engine(conns, encoding='latin1', echo=False)

In [58]:
query = "SELECT * FROM orders;"

df = pd.read_sql(query, db)
df

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,2 rue du Commerce,Lyon,None,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,Boulevard Tirou 255,Charleroi,None,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05,1998-06-02,1998-05-05,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico
826,11074,SIMOB,7,1998-05-06,1998-06-03,1998-05-06,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,None,1734,Denmark
827,11075,RICSU,8,1998-05-06,1998-06-03,1998-05-06,2,6.19,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
828,11076,BONAP,4,1998-05-06,1998-06-03,1998-05-06,2,38.28,Bon app',12 rue des Bouchers,Marseille,None,13008,France
829,11077,RATTC,1,1998-05-06,1998-06-03,1998-05-06,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [65]:
files = os.listdir("northwind_data_clean-master/data/")

data = []

for file in files:
    print(file)
    df = pd.read_csv("northwind_data_clean-master/data/" + file, index_col=0)
    df.to_sql(file.split(".")[0], db)

categories.csv

ValueError: Table 'categories' already exists.