In [19]:
import random
import numpy as np
import pandas as pd
#from numpy.random import RandInt

## Solution 1

In [16]:
array = np.random.randint(0, 10000, 1000000)

In [21]:
df = pd.DataFrame(array)

In [33]:
df[df['is77'] == True]

         0  is77
5991    77  True
8498    77  True
40878   77  True
72312   77  True
76061   77  True
...     ..   ...
980593  77  True
988268  77  True
990495  77  True
991630  77  True
996612  77  True

[88 rows x 2 columns]

In [36]:
%%timeit
array = np.random.randint(0, 10000, 1000000)

In [39]:
%%timeit
df = pd.DataFrame(array)
df['is77'] = df[df == 77].notna()
df[df['is77'] == True]

11.6 ms ± 393 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Solution 2

In [37]:
randomlist = np.random.randint(1, 10_001, size = 1_000_000).tolist()

In [38]:
%%timeit
seventysevens = []
# %%

for index, value in enumerate(randomlist):
    if value == 77:
        seventysevens.append(value)
# %%

46.1 ms ± 1.23 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

## Solution 3

In [41]:
from collections import defaultdict

In [42]:
number_lookup = defaultdict(list)

In [43]:
number_lookup

defaultdict(list, {})

In [46]:
for index, number in enumerate(array):
    number_lookup[number].append(index)
    
# creates a dictionary with the value of the array as key and the indices of the value as a value of the dictionary

In [48]:
%%timeit
number_lookup[77]

167 ns ± 1.18 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)