In [2]:
import sqlalchemy

In [17]:
#!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.7/site-packages (1.3.13)

In [14]:
#!pip install psycopg2
# !pip install psycopg2-binary

Collecting psycopg2
  Downloading psycopg2-2.8.5.tar.gz (380 kB)
     |████████████████████████████████| 380 kB 1.3 MB/s eta 0:00:01
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.8.5-cp37-cp37m-macosx_10_9_x86_64.whl size=136151 sha256=6b09f5aa0c7a7fa36056ffcb9a0ea03950795d119430fb67727afb394b94c968
  Stored in directory: /Users/rjt.weber/Library/Caches/pip/wheels/69/74/ec/7764aea035627654bf137f89a91405ac239c569ce10ae87137
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.5

In [15]:
#!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.7/site-packages (2.8.5)

In [15]:
HOST = 'logisticlemongrass.c1ipxvq2s9x8.eu-central-1.rds.amazonaws.com'
PORT = '5432'
DATABASE = 'postgres'
USER = 'postgres'
PASSWORD = os.getenv('POSTGRES_PASSWORD')

In [16]:
conn_string = f'postgres://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}'

In [17]:
conn_string

'postgres://postgres:titanic99@logisticlemongrass.c1ipxvq2s9x8.eu-central-1.rds.amazonaws.com:5432/postgres'

### Create an engine

In [18]:
engine = sqlalchemy.create_engine(conn_string)

In [19]:
engine.table_names()

[]

In [22]:
query = '''
CREATE TABLE Robin (
id Integer,
text TEXT
);
'''
engine.execute(query)

In [24]:
engine.table_names()

['paul', 'lara', 'paul2', 'felix', 'anastasia', 'robin']

In [25]:
insert_query = '''INSERT INTO robin VALUES (1, 'hello!')'''
engine.execute(insert_query)

In [28]:
bad_insert_query = '''INSERT INTO robin VALUES ('2', 'hello!')'''
engine.execute(bad_insert_query)

### Read in data

In [37]:
result = engine.execute('select * from robin')

In [35]:
#result.fetchall()

[(1, 'hello!'), (2, 'hello!'), (2, 'hello!')]

In [32]:
import pandas as pd

In [38]:
pd.DataFrame(result)

   0       1
0  1  hello!
1  2  hello!
2  2  hello!

In [39]:
df = pd.read_csv('large_countries_2015.csv', index_col = 0)

In [41]:
df.to_sql('countries_robin', engine)