In [8]:
import sqlalchemy
import pandas as pd

In [1]:
HOST = 'localhost'
PORT = '5432'
DATABASE = 'postgres'
USER = 'postgres'
PASSWORD = os.getenv('POSTGRES_PASSWORD')

In [2]:
conn_string = f'postgres://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}'

In [5]:
engine = sqlalchemy.create_engine(conn_string)

In [6]:
engine.table_names()

['countries']

In [10]:
dir(engine)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_connection_cls',
 '_contextual_connect',
 '_echo',
 '_execute_clauseelement',
 '_execute_compiled',
 '_execute_default',
 '_execution_options',
 '_has_events',
 '_optional_conn_ctx_manager',
 '_run_visitor',
 '_should_log_debug',
 '_should_log_info',
 '_trans_ctx',
 '_wrap_pool_connect',
 'begin',
 'connect',
 'contextual_connect',
 'create',
 'dialect',
 'dispatch',
 'dispose',
 'driver',
 'drop',
 'echo',
 'engine',
 'execute',
 'execution_options',
 'get_execution_options',
 'has_table',
 'hide_parameters',
 'logger',
 'logging_name',
 'name',
 'pool',
 'raw_connection',
 'run_callable',
 'scalar',
 'schema_for_object',
 'table_names',
 'transaction',
 'update_execution_options',
 'url']

In [7]:
result = engine.execute('select * from countries')

In [9]:
pd.DataFrame(result)

                0             1     2              3
0      Bangladesh  1.609956e+08  2.12           Asia
1          Brazil  2.078475e+08  1.78  South America
2           China  1.376049e+09  1.57           Asia
3           India  1.311050e+09  2.43           Asia
4       Indonesia  2.575638e+08  2.28           Asia
5           Japan  1.265735e+08  1.45           Asia
6          Mexico  1.270172e+08  2.13  North America
7         Nigeria  1.822020e+08  5.89         Africa
8        Pakistan  1.889249e+08  3.04           Asia
9     Philippines  1.006994e+08  2.98           Asia
10         Russia  1.434569e+08  1.61         Europe
11  United States  3.217736e+08  1.97  North America