In [7]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [10]:
df=pd.read_csv('train.csv', index_col=0)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
X=df[['Pclass']]
y=df['Survived']

In [13]:
#split date into training and testing

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=10)

In [11]:
X_test.shape, y_test.shape

((223, 1), (223,))

In [14]:
m=LogisticRegression(random_state=10)

In [15]:
m.fit(X_train, y_train)

LogisticRegression(random_state=10)

In [16]:
w=m.coef_[0]
w

array([-0.80400439])

In [17]:
b=m.intercept_
b

array([1.40871638])

In [19]:
# Calculate the probabilities for your data points belonging to the positive class.

m.predict_proba(X)

array([[0.73170627, 0.26829373],
       [0.35326641, 0.64673359],
       [0.73170627, 0.26829373],
       ...,
       [0.73170627, 0.26829373],
       [0.35326641, 0.64673359],
       [0.73170627, 0.26829373]])

In [21]:
ypred_train=m.predict(X_train)

In [22]:
# probability_class_1 = model.predict_proba(X)[:, 1]
# set up Survived= 1

X_test_probability_class_1 = m.predict_proba(X_test)[: , 1]

In [23]:
X_test_probability_class_1

array([0.26829373, 0.26829373, 0.26829373, 0.64673359, 0.64673359,
       0.26829373, 0.26829373, 0.45034115, 0.26829373, 0.26829373,
       0.45034115, 0.45034115, 0.45034115, 0.64673359, 0.45034115,
       0.45034115, 0.26829373, 0.26829373, 0.26829373, 0.26829373,
       0.26829373, 0.45034115, 0.45034115, 0.26829373, 0.26829373,
       0.26829373, 0.26829373, 0.64673359, 0.45034115, 0.64673359,
       0.64673359, 0.45034115, 0.26829373, 0.26829373, 0.26829373,
       0.26829373, 0.26829373, 0.64673359, 0.26829373, 0.26829373,
       0.26829373, 0.45034115, 0.26829373, 0.26829373, 0.64673359,
       0.64673359, 0.26829373, 0.26829373, 0.64673359, 0.64673359,
       0.64673359, 0.45034115, 0.26829373, 0.64673359, 0.45034115,
       0.64673359, 0.26829373, 0.26829373, 0.64673359, 0.26829373,
       0.26829373, 0.64673359, 0.26829373, 0.26829373, 0.26829373,
       0.26829373, 0.45034115, 0.26829373, 0.26829373, 0.45034115,
       0.45034115, 0.26829373, 0.26829373, 0.26829373, 0.45034115,
       0.26829373, 0.26829373, 0.26829373, 0.64673359, 0.26829373,
       0.26829373, 0.26829373, 0.45034115, 0.64673359, 0.45034115,
       0.45034115, 0.64673359, 0.64673359, 0.45034115, 0.45034115,
       0.26829373, 0.26829373, 0.64673359, 0.26829373, 0.64673359,
       0.26829373, 0.26829373, 0.26829373, 0.64673359, 0.45034115,
       0.26829373, 0.64673359, 0.26829373, 0.64673359, 0.45034115,
       0.64673359, 0.45034115, 0.64673359, 0.45034115, 0.64673359,
       0.45034115, 0.26829373, 0.64673359, 0.26829373, 0.26829373,
       0.64673359, 0.64673359, 0.64673359, 0.26829373, 0.64673359,
       0.64673359, 0.26829373, 0.64673359, 0.26829373, 0.26829373,
       0.26829373, 0.64673359, 0.26829373, 0.26829373, 0.45034115,
       0.64673359, 0.26829373, 0.26829373, 0.64673359, 0.45034115,
       0.26829373, 0.26829373, 0.64673359, 0.64673359, 0.26829373,
       0.26829373, 0.26829373, 0.64673359, 0.64673359, 0.26829373,
       0.26829373, 0.45034115, 0.45034115, 0.26829373, 0.26829373,
       0.26829373, 0.64673359, 0.64673359, 0.26829373, 0.26829373,
       0.26829373, 0.26829373, 0.45034115, 0.26829373, 0.26829373,
       0.45034115, 0.26829373, 0.26829373, 0.26829373, 0.26829373,
       0.26829373, 0.26829373, 0.26829373, 0.26829373, 0.26829373,
       0.26829373, 0.45034115, 0.26829373, 0.26829373, 0.64673359,
       0.45034115, 0.26829373, 0.26829373, 0.64673359, 0.26829373,
       0.45034115, 0.26829373, 0.64673359, 0.26829373, 0.45034115,
       0.64673359, 0.26829373, 0.26829373, 0.26829373, 0.26829373,
       0.26829373, 0.26829373, 0.45034115, 0.64673359, 0.26829373,
       0.64673359, 0.26829373, 0.26829373, 0.45034115, 0.26829373,
       0.26829373, 0.64673359, 0.26829373, 0.26829373, 0.26829373,
       0.26829373, 0.64673359, 0.26829373, 0.26829373, 0.64673359,
       0.26829373, 0.26829373, 0.26829373, 0.64673359, 0.45034115,
       0.26829373, 0.26829373, 0.26829373, 0.26829373, 0.26829373,
       0.45034115, 0.45034115, 0.64673359])

In [ ]:
# Suppose you classify all points with a probability > 0.9 as positive.
#How does the result of your prediction change?
#How does it change if you change the threshold to > 0.1?

In [24]:
ypred_train.mean()

0.2410179640718563

In [27]:
(X_test_probability_class_1 > 0.5).mean()   # very similar result

0.24663677130044842

In [28]:
(X_test_probability_class_1 > 0.9).mean()   # no survivors

0.0

In [29]:
(X_test_probability_class_1 > 0.1).mean()  # everybody survive

1.0