# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [2]:
countries = pd.read_csv('c:/Users/Kriszta/Desktop/pandas/large_countries_2015.csv', index_col=0)

## Excel

* Write the data into an Excel file
* Read the data again

In [13]:
countries.to_excel("countries.xlsx")

In [12]:
pd.read_excel('countries.xlsx', index_col=0)

               population  fertility      continent
Bangladesh      160995642       2.12           Asia
Brazil          207847528       1.78  South America
China          1376048943       1.57           Asia
India          1311050527       2.43           Asia
Indonesia       257563815       2.28           Asia
Japan           126573481       1.45           Asia
Mexico          127017224       2.13  North America
Nigeria         182201962       5.89         Africa
Pakistan        188924874       3.04           Asia
Philippines     100699395       2.98           Asia
Russia          143456918       1.61         Europe
United States   321773631       1.97  North America

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [19]:
countries.to_json(orient='split')

'{"columns":["population","fertility","continent"],"index":["Bangladesh","Brazil","China","India","Indonesia","Japan","Mexico","Nigeria","Pakistan","Philippines","Russia","United States"],"data":[[160995642.0,2.12,"Asia"],[207847528.0,1.78,"South America"],[1376048943.0,1.57,"Asia"],[1311050527.0,2.43,"Asia"],[257563815.0,2.28,"Asia"],[126573481.0,1.45,"Asia"],[127017224.0,2.13,"North America"],[182201962.0,5.89,"Africa"],[188924874.0,3.04,"Asia"],[100699395.0,2.98,"Asia"],[143456918.0,1.61,"Europe"],[321773631.0,1.97,"North America"]]}'

## SQL

Install the library SQLAlchemy:

In [ ]:
!pip install sqlalchemy

Create a connection to a new SQLite database:

In [21]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [22]:
df = pd.DataFrame()
df.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [ ]:
!ls

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*