In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\Kriszta\\Desktop\\GitHub-Spiced\\logistic-lemongrass-student-code\\week_1'

In [7]:
cd datas

C:\Users\Kriszta\Desktop\datas

In [14]:
df = pd.read_excel('gapminder_lifeexpectancy.xlsx', index_col=0)
df

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,...,49.0,51.1,52.3,53.1,53.7,54.7,55.6,56.3,56.7,57.10
Zimbabwe,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,...,46.4,47.3,48.0,49.1,51.6,54.2,55.7,57.0,59.3,61.69
Ã…land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Sudan,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,...,55.5,55.6,55.8,56.0,55.9,56.0,56.0,56.1,56.1,56.10

In [16]:
life = df[1960].dropna()

In [17]:
life

Life expectancy
Afghanistan              31.94
Albania                  62.87
Algeria                  47.50
Angola                   35.98
Antigua and Barbuda      62.97
                         ...
Virgin Islands (U.S.)    63.75
Yemen                    32.64
Zambia                   48.34
Zimbabwe                 53.11
South Sudan              34.61
Name: 1960, Length: 202, dtype: float64

In [18]:
life.mean()     # 2. calculate the mean life expectancy

54.73282178217823

In [19]:
life.median()   # 3. calculate the median

56.185

In [20]:
life.std()      # 4. calculate the standard deviation

11.689637178760742

In [21]:
life.var()     # 5. calculate the variance

136.64761737106542

In [22]:
life.max()     # 6. find the highest life expectancy

74.22

In [23]:
life.min()     # 7. find the lowest life expectancy

29.61

In [26]:
life.quantile(0.9)        # 8. find the 90% quantile

69.707

In [28]:
life_stat= {'mean':54.73282178217823, 'median':56.185, 'std': 11.689637178760742, 'var':136.64761737106542, 'max':74.22, 'min':29.61, 'quantile':69.707}
life_stat   # 9. store the number of points in a variable

{'mean': 54.73282178217823,
 'median': 56.185,
 'std': 11.689637178760742,
 'var': 136.64761737106542,
 'max': 74.22,
 'min': 29.61,
 'quantile': 69.707}

In [30]:
life.describe()

count    202.000000
mean      54.732822
std       11.689637
min       29.610000
25%       45.075000
50%       56.185000
75%       64.742500
max       74.220000
Name: 1960, dtype: float64