In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [30]:
df = pd.read_csv("Data/ECA_blended_custom/TG_STAID002759.txt", skiprows= 18)

In [31]:
df.head()

    SOUID      DATE     TG   Q_TG
0  127488  18760101     22      0
1  127488  18760102     25      0
2  127488  18760103      3      0
3  127488  18760104    -58      0
4  127488  18760105    -98      0