In [1]:
import pandas as pd

# 1. read the file into a DataFrame

In [6]:
df = pd.read_csv('continents.csv', sep=';')

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

# 2. display the number of rows and columns

# 3. display the first 5 countries in the alphabet

# 4. which continent has the most countries?

# 5. find out on which continent Cyprus is

# 6. define a DataFrame with all African countries

# 7. define a DataFrame with countries 80 through 100

# 8. select every second country

# 9. select 10 random countries

# 10. select all countries having two or more a`s